.custom-quill {
    height: 200px;
}

.custom-quill .ql-container {
    height: 150px;
}

.ant-upload-drag {
    border: 2px dashed #69b1ff !important;
    margin-bottom: 16px !important;
}

.ant-upload-list-item-container {
    width: 140px;
    height: 130px;
}

.ant-upload-list {
    gap: 26px 8px !important;
}